{% extends 'base.html' %} 
{% load humanize %}
{% block title %} | Home {% endblock %}
{% block content %}

  
  <section id="showcase">
    <div class="container text-center">
      <div class="home-search p-5">
        <div class="overlay p-5">
          <h1 class="display-4 mb-4">
            Wellcome to our website!
          </h1>
          <p class="lead">This is a demo version of a simple website for a real estate agency.</p>
          <div class="search">

            <!-- Search Form -->
            <form action="{% url 'search' %}">
              <!-- Form Row 1 -->
              <div class="form-row">
                <!-- Keywords -->
                <div class="col-md-6 mb-3">
                  <label class="sr-only">Keywords</label>
                  <input type="text" name="keywords" class="form-control" placeholder="Keyword (unique notes)">
                </div>
                <!-- City -->
                <div class="col-md-6 mb-3">
                  <label class="sr-only">City</label>
                  <input type="text" name="city" class="form-control" placeholder="City">
                </div>
              </div>
              <!-- Form Row 2 -->
              <div class="form-row">
                <!-- Bedrooms -->
                <div class="col-md-6 mb-3">
                  <label class="sr-only">Bedrooms</label>
                  <select name="bedrooms" class="form-control">
                    <option selected="true" disabled="disabled">Bedrooms (All)</option>
                    {% for key,value in bedroom_choices.items %}
                      <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
                <!-- Price -->
                <div class="col-md-6 mb-3">
                  <select name="price" class="form-control" id="type">
                    <option selected="true" disabled="disabled">Price (Any)</option>
                    {% for key,value in price_choices.items %}
                      <option value="{{ key }}">{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <button class="btn btn-secondary btn-block mt-4" type="submit">Search now</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Alerts -->
  {% include 'partials/_alerts.html' %}

  <section class="py-4">
    <div class="container">
      <h3 class="text-center mb-3" >Latest listings</h3>
    </div>
  </div>  

  <!-- Listings -->
  {% include 'partials/_listings.html' %}

  <!-- Services -->
  {% include 'partials/_services.html' %}

{% endblock %}